In [1]:
use sakila;

In [2]:
select*from customer limit 2;

customer_id,store_id,first_name,last_name,email,address_id,active,create_date,last_update
1,1,MARY,SMITH,MARY.SMITH@sakilacustomer.org,5,1,2006-02-14 22:04:36,2006-02-15 04:57:20
2,1,PATRICIA,JOHNSON,PATRICIA.JOHNSON@sakilacustomer.org,6,1,2006-02-14 22:04:36,2006-02-15 04:57:20

In [3]:
select active,count(customer_id)from customer group by active;

active,count(customer_id)
1,584
0,15

In [4]:
select store_id,count(customer_id)from customer group by store_Id;

store_id,count(customer_id)
1,326
2,273

In [5]:
Select *from film limit 2;

film_id,title,description,release_year,language_id,original_language_id,rental_duration,rental_rate,length,replacement_cost,rating,special_features,last_update
1,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist who must Battle a Teacher in The Canadian Rockies,2006,1,NULL,6,0.99,86,20.99,PG,"{'Deleted Scenes', 'Behind the Scenes'}",2006-02-15 05:03:42
2,ACE GOLDFINGER,A Astounding Epistle of a Database Administrator And a Explorer who must Find a Car in Ancient China,2006,1,NULL,3,4.99,48,12.99,G,"{'Trailers', 'Deleted Scenes'}",2006-02-15 05:03:42

In [6]:
select
     count(film_id) as number_of_films,
     rental_duration,
     rating
from film 
group by rental_duration,rating
order by rental_duration, rating;

number_of_films,rental_duration,rating
49,3,G
36,3,PG
39,3,PG-13
42,3,R
37,3,NC-17
28,4,G
41,4,PG
48,4,PG-13
53,4,R
33,4,NC-17
33,5,G
33,5,PG
42,5,PG-13
40,5,R
43,5,NC-17
39,6,G
39,6,PG
50,6,PG-13
27,6,R
57,6,NC-17
29,7,G
45,7,PG
44,7,PG-13
33,7,R
40,7,NC-17

In [7]:
select 
      MAX(replacement_cost),
      MIN(replacement_cost),
      AVG(replacement_cost),
      rating   
from film 
group by rating;

MAX(replacement_cost),MIN(replacement_cost),AVG(replacement_cost),rating
29.99,9.99,18.959072,PG
29.99,9.99,20.124831,G
29.99,9.99,20.137619,NC-17
29.99,9.99,20.402556,PG-13
29.99,9.99,20.231026,R

In [8]:
select
     count(film_id) as number_of_films,
     rental_duration,
     rating
from film 
group by 
    rental_duration,rating
having
     number_of_films>40
order by
     rental_duration, rating;

number_of_films,rental_duration,rating
49,3,G
42,3,R
41,4,PG
48,4,PG-13
53,4,R
42,5,PG-13
43,5,NC-17
50,6,PG-13
57,6,NC-17
45,7,PG
44,7,PG-13

create a new database company 
1.create a table products with following coloumns
<span style="color: var(--vscode-foreground);">id</span>
-    title
-    price
-   discount
-   brand
-   category
-  quantit
  
2.insert 50 records into the table